
/*=== color cheat sheet
#333333
#656565
#e94f64
#e57254


*====/
h1{

    color: white;
}
/*==Styling background*/
@media screen and (min-width:601px) {
    .ptcb{
        display: none;
    }

}

@media screen and (max-width: 600px) {
    .slideshow {
      display: none;

    }
    .image-with-text{ display: none;
  }
  .number{
    break-before: left;
}


}
/** styling my column headers */

#Col-1-title{
    color:#e94f64;
    font-weight: 300;
}
#col-2-title{
    color: #e57254;
    font-weight: 300;

}
#Col-3-title{
    color: #46bcde;
    font-weight: 300;
}

body{
    background-color: #333333;
    font-family: 'MuseoModerno', cursive;
}
/*== styling top bar==*/
.top-bar{
    min-width: 100%;

    text-align: center;
    font-weight: bold;
    color: white;


    background: linear-gradient(to right,#e94f64 , #e57254
    );
    flex: auto;
    height: 2.8rem;
    padding: .5px 0;}
/* ==styling the text for phone link==*/
    .top-bar a{
        color: #333333;


        font-size: 1rem;
        padding-left: 10px;
    }

    .collumn-text{
        color: #d6dade;
        font-size: 1.5em;
        box-sizing: border-box;

    }

    /**styling list **/




#horizontal-list{
    min-width: 696px;
    list-style: none;
    padding-top: 20px;

}
#horizontal-list li{

    margin-right: 5px;
    height: 40px;
    padding-right: 10px;
    float: left;
    display: inline;}

#horizontal-list li a{
position: relative;
}

/* styling the images in collumn 2 */
.worker{
    float: ;
    height: 300px;
    width: 400px;
    padding-bottom: 20px;
}


.column{
    box-sizing: border-box;
}

.image-with-text{
    text-align: center;
    color: #d6dade;
}
